<div class="buy-car" *ngIf="typec">
  <div class="container row">
    <div class="col-sm-4">
      <img
        src="{{ typec.image }}"
        alt=""
        srcset=""
        class="w-100 h-100 img-fluid"
      />
    </div>
    <div class="col-sm-8">
      <form>
        <div class="form-group">
          <div class="col-lg-8 single-right-left simpleCart_shelfItem">
            <h4>
              <strong>{{ typec.producname }}</strong>
            </h4>
            <p>
              <span class="item_price">
                <p><strong>precio</strong> ${{ typec.price }}</p>
              </span>
              <del>$1,199</del>
            </p>

            <div class="description">
              <h4><strong>Descripcion del producto</strong></h4>
              <h5>{{ typec.description }}</h5>
            </div>

            <div class="color-quality">
              <div class="color-quality-right">
                <div class="container-two">
                  <div class="row">
                    <div class="col-sm">
                      <h4><strong>disponible</strong></h4>
                    </div>
                    <div class="col-sm">
                      <h4>{{ typec.quantiyy - quantity }}</h4>
                    </div>
                  </div>
                </div>

                <select
                  id="country1"
                  (change)="changeCountry()"
                  [(ngModel)]="quantity"
                  [ngModelOptions]="{ standalone: true }"
                  class="frm-field required sect"
                >
                  <option value="0">todos</option>
                  <option
                    [ngValue]="item.value"
                    *ngFor="let item of objectOption"
                    >{{ item.option }}</option
                  >
                </select>
              </div>
            </div>

            <div class="glyphicon glyphicon-shopping-cart">
              <div class="text-left">
                <form action="#" method="post">
                  <button
                    class="btn btn btn-secondary mb-2 mr-2"
                    (click)="openMoldal()"
                  >
                    carrito
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #modalForms let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>contendo</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


