<div class="header">
    <ul>
        <li class="index"> <a routerLink="/index">Inicio</a></li>
        <li> <a routerLink="#">Pulseras</a></li>
        <li> <a routerLink="#">Collares</a></li>
        <li> <a routerLink="#">Anillos</a></li>
        <li class="admistrador"> <a routerLink="/persona">Administrador</a></li>
    </ul>
</div>

<div class="formularioAdmin">
    <div class="titule">
        <h1>Formulario administrador producto</h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-8">
                <table class="table table-striped table-bordered table-dark">
                    <thead class="thead-dark">
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Eliminar</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of personas">
                            <td>{{item.id}}</td>
                            <td>{{item.producname}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.description}}</td>
                            <td> <button (click)="eliminarPersona(item.id)" class="btn btn-primary">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <h2>Formulario Producto</h2>
                <div class="form-group">
                    <label for="controlNombre">Producto</label>
                    <input type="text" [(ngModel)]="agregarPersonaProducto.Producto" class="form-control"
                        placeholder="Nombre del Producto">
                </div>
                <div class="form-group">
                    <label for="controlNombre">Precio</label>
                    <input type="number" [(ngModel)]="agregarPersonaProducto.Precio" class="form-control"
                        placeholder="Precio del Producto">
                </div>
                <div class="form-group">
                    <label for="controlNombre">Descripcion</label>
                    <input type="text" [(ngModel)]="agregarPersonaProducto.Descripcion" class="form-control"
                        placeholder="Descripcion del Producto">
                </div>

                <td> <button (click)="agregarPersona()" class="btn btn-primary ">Agregar</button></td>
            </div>
        </div>
    </div>
</div>