<div class="menu">
        <div class="home-menu pure-menu">
           
            <ul class="">
                <li> <a routerLink="/index">Inicio</a></li>
                <li *ngIf='admin'> <a routerLink="#">Pulseras</a></li>
                <li *ngIf='admin'> <a routerLink="/collar">Collares</a></li>
                <li *ngIf='admin'> <a routerLink="#">Anillos</a></li>
                <li class="admistrador"  *ngIf='admin'> <a routerLink="/persona">administrador</a></li>
            </ul>
        </div>
    </div>
