ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(170, 196, 218);
  }
  
  .active {
    background-color: rgb(76, 119, 175);
  }

  .index{
    background: linear-gradient(to bottom right, blue, #00ffff);
  }

 li.admistrador{
    float: right !important;
  }
  .margin{
      padding: 40px;
  }