<div>
    <div class="header">
        <ul>
            <li> <a routerLink="/index">Inicio</a></li>
            <li> <a routerLink="#">Pulseras</a></li>
            <li> <a routerLink="#">Collares</a></li>
            <li> <a routerLink="#">Anillos</a></li>
            <li class="admistrador"> <a routerLink="/persona">administrador</a></li>
        </ul>
    </div>
    <div clas="article">
        <div style="background-color:#21659c;height:1500px;">
            <p>a</p>
            <p></p>

            <div class="margin">
                <div class="section-bg">
                    <div class="row">
                        <div class="col-sm-6">.prueba a

                        

                        </div>
                        <div class="col-sm-6">.prueba b

                        </div>
                    </div>
                </div>
            </div>
            <div class="section-bg">

            </div>

        </div>
        
    </div>

</div>